# 必須
ESA_TEAM="your-team-name"
ESA_TOKEN="your-esa-access-token"

# 任意
REPORT_CATEGORY="report/daily-report"
ESA_SCREEN_NAME="your-esa-screen-name"
TARGET_REPOS="org/repo1,org/repo2"
SLACK_CHANNELS="C01ABCDEF,C02GHIJKL"
